{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
 
    <section id="myProfileEdit">
        {{include('partials/_navbarMenu.html.twig')}}

        <div class="container-fluid"> 
          {{include('partials/_sidebarMenuProfile.html.twig')}}
        
            <div class="row wrapper">
                    <div class="banner m-0">
                        <img src="{{asset('/uploads/banner/'~ user.banner)}}" alt="banniere"/>
                    </div>
                    <h2 class="mt-2">Modifier mon profil</h2>
               
                <div class="col-md-12 col-lg-6 infos">
                    <div class="d-flex align-items-baseline wrapTitle">
                        <h4>Mes informations personnelles</h4>
                        <a href="{{path('account_pwd_edit')}}" class="btn param pwd"><i class="fa-solid fa-key"></i> Modifier mon mot de passe</a>
                    </div>    
                <hr>
                {{form_start(form)}}
                    {{form_row(form.email)}}
                    {{form_row(form.firstname)}}
                    {{form_row(form.lastname)}}
                    {{form_row(form.address)}}
                    {{form_row(form.address_complement)}}
                    {{form_row(form.zip)}}
                    {{form_row(form.city)}} 
                    
                </div>
                 <div class="col-md-12 col-lg-6 public">
                    <h4>Mon profil public</h4>  
                    <hr>
                        {{form_row(form.banner)}}
                        {{form_row(form.nickname)}}
                        <div class="input-group mt-3">
                            <div class="input-group-text">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            {{form_row(form.instagram)}} 
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-brands fa-tiktok"></i>
                            </div>
                            {{form_row(form.tiktok)}} 
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                            {{form_row(form.facebook)}} 
                        </div>
                        
                        
                    <div class="my-2">
                        <img src="{{asset('/uploads/avatar/'~ user.avatar)}}" alt="avatar du profil" class="avatar">
                    </div>
                        {{form_row(form.avatar)}}  
                      
                <div class="my-4">
                    <button type="submit" class="btn btn-dark btn-lg">Enregister</button>
                    <a href="{{path('account_myprofile')}}" class="btn btn-light"><i class="fa-solid fa-arrow-rotate-left"></i> Retour</a> 
                    {{form_end(form)}}           
                </div>   
               
                </div>
            </div>

        </div>
 
    </section>
{% endblock %}