{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    <section id="login">
        <div class="container-fluid">        
            <div class="formLogin">
                <a href="{{path('home')}}"><img src="{{asset('/img/logo.png')}}" class="img-fluid" alt="logo so fpv"></a>
                <h2>SO FPV</h2>
                <form action="{{ path('account_login') }}" method="post">
                        <div class="input-group mb-4">
                            <div class="input-group-text"><i class="fa-solid fa-at"></i></div>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email" class="form-control"/>
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-text"><i class="fa-solid fa-unlock-keyhole"></i></div>
                            <input type="password" id="password" name="_password" placeholder="Mot de passe" class="form-control"/>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger"><i class="fa-solid fa-triangle-exclamation"></i> {{ error.messageKey|trans(error.messageData, 'security')}}</div>
                        {% endif %}
                    
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-block">Connexion</button>
                        </div>
                        
                    </form>
                    
                    <p class="mt-2">Pas encore inscrit ? C'est par <a href="{{path('account_register')}}"><b>ici</b></a> !</p>
                    <div class="w-100">
                        <a href="{{path('home')}}" class="float-md-start returnIcon"><span><i class="fa-solid fa-reply"></i></span></a>
                    </div>
                    
                
            </div>
          
        </div>

    </section>

{% endblock %}

{% block footer %}{% endblock %}
