{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="myProfile" class="bg-dark">
        {{include('partials/_navbarMenu.html.twig')}}
    
        <div class="container-fluid globalWrap">
        {# sidebar #}
        {{include('partials/_sidebarMenuProfile.html.twig')}}

        <div class="wrap">   
        {# banner #} 
                <div class="banner">
                    <img src="{{asset('/uploads/banner/'~ user.banner)}}" alt="banniere"/>       
                </div>
               <div class="row">

                <div class="leftWrap">
                    {# avatar + pseudo #}
                    <div class="user">
                        <div id="myProfile-avatar">
                            <img src="{{asset('/uploads/avatar/'~ user.avatar)}}" alt="avatar" class="img-fluid"/>       
                        </div>
                        <h2>{{user.nickname}}</h2> 
                    </div>
                    {# info personnelles #}
                    <div class="personnal-info">
                        <h3>Mes informations</h3>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <b><i class="fa-solid fa-at"></i> </b>{{user.email}}<br>
                                <b><i class="fa-solid fa-address-card"></i> </b> {% if user.firstname or user.lastname %}{{user.firstname}} {{user.lastname}} {% else %} <i>Non renseigné</i> {% endif %} <br>
                                                
                                <b><i class="fa-solid fa-house"></i> </b>  
                                {% if user.address and user.addressComplement %} 
                                    {{user.address|raw}}<br>
                                    {{user.addressComplement|raw}}<br>
                                    {{user.zip}}, {{user.city}} <br>
                                {% elseif user.address %}
                                {{user.address|raw}}  <br>
                                {{user.zip}}, {{user.city}} <br>
                                {% else %}
                                <i>Non renseigné</i>
                                {% endif %}
                            </div>   
                            <div class="col">
                                <i class="fa-brands fa-instagram"></i> {% if user.instagram %} {{user.instagram|raw}} {% else %} <i>Non renseigné</i> {% endif %} <br>
                                <i class="fa-brands fa-tiktok"></i> {% if user.tiktok %} {{user.tiktok|raw}} {% else %} <i>Non renseigné</i> {% endif %} <br>
                                <i class="fa-brands fa-facebook"></i> {% if user.facebook %} {{user.facebook|raw}} {% else %} <i>Non renseigné</i> {% endif %} <br>
                            </div>
                        </div>   
                        <div class="param modifyProfile">
                            <a href="{{path('account_edit')}}"><i class="fa-solid fa-user-gear"></i> Modifier mon profil</a>
                        </div>    
                    </div>
                    {# config de drone favorite #}
                    <div class="my-drone">      
                        <h3>Ma config</h3>
                        <a href="{{path('account_drone_edit')}}" class="param"><i class="fa-solid fa-gear"></i></i></a>
                    <hr/>
                    {% if user.drone is null %}
                    <div class="alert alert-warning">Pas encore de configuration renseignée.</div>
                    {% else %}
                    <div class="fav">       
                            {% if user.drone.image is not null %}
                                    <img src="{{asset('/uploads/drone/'~ user.drone.image)}}" alt="drone" class="img-fluid"/>
                            {% else %}
                                    <img src="{{asset('/img/drone.png')}}" alt="drone par défaut" class="img-fluid"/> 
                            {% endif %}             
                    </div>
                    <div>
                        <b>Frame: </b>{{user.drone.frame|raw}}<br>
                        <b>Moteurs: </b>{{user.drone.motors|raw}}<br>
                        <b>FC: </b>{{user.drone.fc|raw}}<br>
                        <b>ESC: </b>{{user.drone.esc|raw}}<br>
                        <b>CAM: </b>{{user.drone.cam|raw}}<br>
                        <b>Réception: </b>{{user.drone.reception|raw}}<br>
                        <b>Type de lipo: </b>{{user.drone.lipoCells}}S
                    </div>
                       {% endif %}
                 
                        </div>
                    </div>
                
                <div class="rightWrap"> 
                    <div class="dashboard">
                        <h3>Tableau de bord</h3>
                        <div class="row mx-auto mt-3">
                            <div class="col mb-3">
                                <a href="{{path('article_add')}}" class="btn param"><i class="fa-solid fa-pen-to-square"></i> Ajouter un article</a>
                            </div>
                            <div class="row mx-auto">
                                <div class="col-sm-6">
                                    <div class="card text-bg-light mb-3">
                                    <div class="card-header">Articles</div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title"><i class="fa-solid fa-photo-film fa-2x"></i></h5>
                                            <h5>{{articleCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card text-bg-light mb-3">
                                    <div class="card-header">Sessions prévues</div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title"><i class="fa-solid fa-calendar-days fa-2x"></i></h5>
                                            <h5>{{sessionCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-md">
                                    <div class="card text-bg-light mb-3">
                                    <div class="card-header">Statut de la dernière commande</div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title"><i class="fa-solid fa-bag-shopping fa-2x"></i></h5>
                                            <h5>{% if lastOrderStatus %}{{lastOrderStatus.deliveryStatus.statusDescription}}{% else %}Pas de commande en cours.{% endif %}</h5>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        {# bloc questions +  count commentaires  #}
                        {% if questions %}
                        <div class="accordion" id="accordionQuestion">
                            {% for question in questions %}
                            <div class="accordion-item my-4">
                                    <div class="accordion-header" id="heading{{loop.index}}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                                            <h5>{{question.title}}</h5>
                                            <span class="text-muted ms-3">Publié le {{question.createdAt|date("d-m-Y")}}</span>
                                        </button>
                                        <div class="notification">
                                            <i class="fa-solid fa-comment fa-2x"></i>
                                            {# si il y a des commentaires sur l'article de la catégorie "question", on affiche le nombre de commentaires #}
                                            {% if question.comments|length is not same as 0 %}
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-dark">
                                                {{question.comments|length }}
                                                <span class="visually-hidden">Commentaires de l'article</span>
                                            </span>
                                            {% endif %}
                                        </div>      
                                    </div>
                                <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index}}" data-bs-parent="#accordionQuestion">
                                    <div class="accordion-body">
                                        <div class="show-article">
                                            <a href="{{path('article_show', {'slug': question.slug })}}" class="btn param p-0" target="_blank"><i class="fa-solid fa-eye"></i></a>
                                        </div>
                                        {% set questionContent = question.content|u.truncate(300, '...', false) %}
                                        {{questionContent|raw}}
                                    </div>
                                </div>
                            </div>
                        
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="alert alert-success my-4">
                            Vous n'avez pas encore publié de questions.   
                        </div>
                        {% endif %}
                        {# bloc counter #}  
                        <div class="counters">
                            <h5>Crash board</h5>
                            <div class="row">
                                <div class="col-sm-4 counter">
                                    <p>Lipo HS</p>
                                    <a class="btn animated-counter" href="{{path('account_add_to_counter', {'name': 'Lipo'})}}" id="lipoCounter"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-1"></i></a>
                                </div>
                                <div class="col-sm-4 counter">
                                    <p>ESC brûlé</p>
                                    <a class="btn animated-counter" href="{{path('account_add_to_counter', {'name': 'ESC'})}}" id="escCounter"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-1"></i></a>
                                </div>
                                <div class="col-sm-4 counter">
                                    <p>Frame brisée</p>
                                    <a class="btn animated-counter" href="{{path('account_add_to_counter', {'name': 'Frame'})}}"  id="frameCounter"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-1"></i></a>
                                </div>
                            </div>
                        </div>
                        {# fin du counter #}
                    </div>
                </div>
            </div>   

        </div>     
        </div>
        
    </section>

{% endblock %}

