{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="myProfile" class="bg-dark">
        {{include('partials/_navbarMenu.html.twig')}}
        <div class="container-fluid row wrapper">
            <div class="col-md-2">
                {# colonne du coté gauche #}
                {#div : drone en favori (image, config moteur, esc, frame, helices, cam) #}
                {# autres drones en mini galerie ?#}
                <aside id="myProfile-drone">
                    <div>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Necessitatibus itaque et vero quaerat eos dignissimos iusto, exercitationem autem officiis ullam,
                    adipisci maiores soluta rerum laboriosam ea aliquam corrupti? Ab, quasi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Necessitatibus itaque et vero quaerat eos dignissimos iusto, exercitationem autem officiis ullam,
                    adipisci maiores soluta rerum laboriosam ea aliquam corrupti? Ab, quasi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Necessitatibus itaque et vero quaerat eos dignissimos iusto, exercitationem autem officiis ullam,
                    adipisci maiores soluta rerum laboriosam ea aliquam corrupti? Ab, quasi!
                    </div>
                  
                </aside>
            </div>
            
            <div class="col-md-10">
                {# banner #}
                {% if user.banner is not null %}
                <div class="banner">
                    <img src="{{asset('/uploads/banner/'~ user.banner)}}" alt="banniere"/>
                </div>
                {% else %}
                <div class="banner">
                    <img src="{{asset('/img/NazgulFrame.jpg')}}" alt="banniere"/>
                </div>
                {% endif %}

                <div id="myProfile-avatar">
                        {% if user.avatar is not null %}
                            <img src="{{asset('/uploads/avatar/'~ user.avatar)}}" alt="avatar" class="img-fluid"/>
                        {% else %}
                            <img src="{{asset('/img/avatar-1.png')}}" alt="avatar" class="img-fluid"/>
                        {% endif %}            
                </div>
                
                <div class="myProfile-content row">
                    {# onglet mes videos + ajout vidéo #}
                    <h2>{{user.nickname}}</h2>
                               
                    <div class="col-md-6">
                        <div class="param">
                            <a href="{{path('account_edit')}}" class="btn"><i class="fa-solid fa-user-gear"></i> Modifier mon profil</a>
                        </div>
                            <h3>Mes informations</h3>
                            <p>{{user.email}}</p>
                            <p>{{user.firstname}} {{user.lastname}}</p>
                        
                            <p>Adresse:<br> {{user.address}}
                                {% if user.addressComplement %}
                                    <br>{{user.addressComplement}}
                                {% endif %}
                                <br>{{user.zip}}, {{user.city}}
                            </p>
                   </div>
                   <div class="col-md-6">
                        <h3>Mon drone</h3>
                        
                   </div>
                </div>
            </div>
           
        </div>
           
        
    </section>
{% endblock %}