{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="myProfile" class="bg-dark">
        {{include('partials/_navbarMenu.html.twig')}}
    
        <div class="container-fluid ">
        {# sidebar #}
        {{include('partials/_sidebarMenuProfile.html.twig')}}

        <div class="wrap">   
        {# banner #} 
                <div class="banner">
                {% if user.banner is not null %}       
                    <img src="{{asset('/uploads/banner/'~ user.banner)}}" alt="banniere"/>       
                {% else %}  
                    <img src="{{asset('/img/NazgulFrame.jpg')}}" alt="banniere"/> 
                {% endif %}
                </div>
               <div class="row">

                <div class="col-4">
                    {# avatar + pseudo #}
                    <div class="user">
                        <div id="myProfile-avatar">
                            {% if user.avatar is not null %}
                                <img src="{{asset('/uploads/avatar/'~ user.avatar)}}" alt="avatar" class="img-fluid"/>
                            {% else %}
                                <img src="{{asset('/img/avatar-1.png')}}" alt="avatar" class="img-fluid"/>
                            {% endif %}            
                        </div>
                        <h2>{{user.nickname}}</h2> 
                    </div>
                    {# info personnelles #}
                    <div class="personnal-info">
                        <h3>Mes informations</h3>
                        <hr>
                        <b><i class="fa-solid fa-at"></i> Email: </b>{{user.email}}<br>
                        <b><i class="fa-solid fa-address-card"></i> Nom: </b>{{user.firstname}} {{user.lastname}}<br>
                                        
                        <b><i class="fa-solid fa-house"></i> Adresse:</b><br> {{user.address}}
                            {% if user.addressComplement %}
                                <br>{{user.addressComplement}}
                            {% endif %}
                                <br>{{user.zip}}, {{user.city}}
                        </p>
                        <div class="param">
                            <a href="{{path('account_edit')}}"><i class="fa-solid fa-user-gear"></i> Modifier mon profil</a>
                        </div>    
                    </div>
                    {# config de drone favorite #}
                    <div class="my-drone">      
                        <h3>Ma config</h3>
                        <a href="{{path('account_drone_edit')}}" class="param"><i class="fa-solid fa-gear"></i></i></a>
                    <hr/>
                    {% if user.drone is null %}
                    <div class="alert alert-warning">Pas encore de configuration renseignée.</div>
                    {% else %}
                    <div class="fav">       
                            {% if user.drone.image is not null %}
                                    <img src="{{asset('/uploads/drone/'~ user.drone.image)}}" alt="drone" class="img-fluid"/>
                            {% else %}
                                    <img src="{{asset('/img/drone.png')}}" alt="drone par défaut" class="img-fluid"/> 
                            {% endif %}             
                    </div>
                    <div>
                        <b>Frame: </b>{{user.drone.frame}}<br>
                        <b>Moteurs: </b>{{user.drone.motors}}<br>
                        <b>FC: </b>{{user.drone.fc}}<br>
                        <b>ESC: </b>{{user.drone.esc}}<br>
                        <b>CAM: </b>{{user.drone.cam}}<br>
                        <b>Réception: </b>{{user.drone.reception}}<br>
                        <b>Type de lipo: </b>{{user.drone.lipoCells}}S
                    </div>
                  
                       {% endif %}
                 
                        </div>
                    </div>
                
                <div class="col"> 
                    <div class="dashboard">
                        <h3>Tableau de bord</h3>
                        <div class="row mx-auto mt-3">
                            <div class="col mb-3">
                                <a href="{{path('article_add')}}" class="btn param">Ajouter un article</a>
                            </div>
                            <div class="row row-col-3">
                                <div class="col">
                                {# TODO : mettre en place les compteurs de stats #}
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-header">Articles</div>
                                            <div class="card-body text-center">
                                                <h5 class="card-title"><i class="fa-solid fa-photo-film fa-2x"></i></h5>
                                                <h5>{{articleCount}}</h5>
                                            </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-header">Questions</div>
                                            <div class="card-body text-center">
                                                <h5 class="card-title"><i class="fa-solid fa-question fa-2x"></i></h5>
                                                <h5>1</h5>
                                            </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-header">Sessions prévues</div>
                                            <div class="card-body text-center">
                                                <h5 class="card-title"><i class="fa-solid fa-calendar-days fa-2x"></i></h5>
                                                <h5>1</h5>
                                            </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-header">Statut de commande</div>
                                            <div class="card-body text-center">
                                                <h5 class="card-title"><i class="fa-solid fa-bag-shopping fa-2x"></i></h5>
                                                <h5><span class="rounded bg-danger"></span>En cours</h5>
                                            </div>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>
                        {# bloc counter #}  
                        <div class="row counters mt-4">
                            <div class="col-md-4 counter">
                                <img src="{{asset('/img/battery.png')}}" alt="icone représentant une lipo">
                                <button class="btn btn-dark btn-lg" type="button" id="lipoCounter"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-1"></i></button>
                            </div>
                            <div class="col-md-4 counter">
                                <img src="{{asset('/img/circuit-board.png')}}" alt="icone représentant un ESC">
                                <button class="btn btn-dark btn-lg" type="button" id="escCounter"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-1"></i></button>
                            </div>
                            <div class="col-md-4 counter">
                                <img src="{{asset('/img/broken.png')}}" alt="icone représentant une frame brisée">
                                <button class="btn btn-dark btn-lg" type="button" id="frameCounter"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-1"></i></button>
                            </div>
                        </div>
                        {# fin du counter #}
                    </div>
                </div>
            </div>   

        </div>     
        </div>
        
    </section>
{% endblock %}

