{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
 
    <section id="myPwdEdit">
        {{include('partials/_navbarMenu.html.twig')}}

        <div class="container-fluid"> 
          {{include('partials/_sidebarMenuProfile.html.twig')}}
        
            <div class="row wrapper">
                <div class="col-md-6">
                    <h4>Modifier mon mot de passe</h4>  
                    {{form_start(form)}}
                        {{form_widget(form)}}
                        <button type="submit" class="btn btn-dark">Enregistrer</button>
                         <a href="{{path('account_edit')}}" class="btn btn-light"><i class="fa-solid fa-arrow-rotate-left"></i> Retour</a> 
                    {{form_end(form)}}
                </div>
                
            </div>

        </div>
 
    </section>
{% endblock %}