{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="profile" class="bg-dark">
        {{include('partials/_navbarMenu.html.twig')}}
    
        <div class="container-fluid ">

        <div class="wrap">   
        {# banner #} 
                <div class="banner">     
                    <img src="{{asset('/uploads/banner/'~ user.banner)}}" alt="banniere"/>       
                </div>
               <div class="row">

                {# partie infos de l'user #}
                <div class="col-3">
                    <div class="user">
                        <div id="profile-avatar">
                            <img src="{{asset('/uploads/avatar/'~ user.avatar)}}" alt="avatar" class="img-fluid"/>
                        </div>
                        <h2>{{user.nickname}}</h2> 
                    </div>
                    <div class="my-drone">      
                        <h3>Config</h3>
                    <hr/>
                        {% if user.drone is null %}
                        <div class="alert alert-warning">Pas encore de configuration renseignée.</div>
                        {% else %}
                        <div class="fav">       
                                {% if user.drone.image is not null %}
                                        <img src="{{asset('/uploads/drone/'~ user.drone.image)}}" alt="drone" class="img-fluid"/>
                                {% else %}
                                        <img src="{{asset('/img/drone.png')}}" alt="drone par défaut" class="img-fluid"/> 
                                {% endif %}             
                        </div>
                        <div>
                            <b>Frame: </b>{{user.drone.frame}}<br>
                            <b>Moteurs: </b>{{user.drone.motors}}<br>
                            <b>FC: </b>{{user.drone.fc}}<br>
                            <b>ESC: </b>{{user.drone.esc}}<br>
                            <b>CAM: </b>{{user.drone.cam}}<br>
                            <b>Réception: </b>{{user.drone.reception}}<br>
                            <b>Type de lipo: </b>{{user.drone.lipoCells}}S
                        </div>
                    
                        {% endif %}
                        </div>
                        {# TODO: mettre les prochaines sessions de l'user + lien pour rejoindre la session #}
                        <div class="sessions">
                            <span class="alert alert-warning">Pas de sessions prévues</span>
                        </div>
                    </div>

                {# partie contenu de l'user #}
                <div class="col">
                    <div class="user-content">
                        {% if articles is not empty %}
                        <div class="row row-cols-md-1 g-4 px-3">
                            {% for article in articles %}
                            {% set articleContent = article.content|u.truncate(300, '...', false) %}
                                {{include('/partials/_articleRight.html.twig')}} 
                            {% endfor %}
                            
                        </div>
                        {% else %}
                            <span class="alert alert-warning d-block mx-3">Cet utilisateur n'a pas encore publié de contenu.</span>
                        {% endif %}
                    </div>
                </div>
         
                </div>

                
        
    </section>
{% endblock %}

