{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="showArticle">
        {{include('partials/_navbarMenu.html.twig')}}
    
        <div class="container-fluid wrapper pt-4">
            <div class="row col-xs-12 col-md-10" id="wrapArticleContent">
                <div class="col-md-7">
                    {# video affichée #}
                    {% include "/partials/_video.html.twig" %}
                </div>
                <div class="col-md-3">
                {# articles du même auteur : TODO boucle pour les articles #}
                    <div class="row g-4" id="wrapSameAuthorArticle">
                        <div class="col-md-6">
                            <div class="card">
                            <img src="{{asset('uploads/article/video/thumb/Pexels-Videos-1409899-mp4-635ba743db6ad.png')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                            <img src="{{asset('uploads/article/video/thumb/Pexels-Videos-1409899-mp4-635ba743db6ad.png')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                            <img src="{{asset('uploads/article/video/thumb/Pexels-Videos-1409899-mp4-635ba743db6ad.png')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                            <img src="{{asset('uploads/article/video/thumb/Pexels-Videos-1409899-mp4-635ba743db6ad.png')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            </div>
                        </div>
                        </div>
            
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{# PLYR #}
{% block stylesheets %}  
        <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
{% endblock %}

{% block javascripts %}
    <script>

        import Plyr from 'plyr';
        const player = new Plyr('#player');

        <script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>

    </script>
{% endblock %}