{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="addArticle">
        {{include('partials/_navbarMenu.html.twig')}}
      
        <div class="container-fluid wrapper">   
            {{include('partials/_sidebarMenuProfile.html.twig')}}
            <div class="row">
            <h2>Publier un article</h2>
                <div class="col-md-6 col-sm-12">
                    <h5><i class="fa-solid fa-pen"></i> Contenu de l'article</h5>
                    {{form_start(form)}}
                        {{form_row(form.title)}}
                        {{form_row(form.category)}}   
                        {{form_row(form.content)}}
                        {# si l'user est admin, le formulaire affiché sera spécifique et il aura accès à la selection de l'article à la une #}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{form_row(form.adminNews)}}
                        {% endif %}
                       
                </div>
               
                <div class="col-md-6 col-sm-12">
                    <h5><i class="fa-solid fa-film"></i> Ajouter une vidéo</h5>
                        {{form_row(form.video.title)}}
                        {{form_row(form.video.source)}}

                                           
                    <h5 class="mt-3"><i class="fa-solid fa-images"></i> Ajouter des images</h5>
                    <div id="images"
                        data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                        data-widget-tags="{{ '<div"></div>'|e }}"
                        data-widget-counter="{{ form.images|length }}">

                        {% for imageField in form.images %}
                            <div>
                                {{ form_errors(imageField) }}
                                {{ form_widget(imageField) }} 
                            </div>
                          
                        {% endfor %}

                    </div>

                    <button type="button" id="add_images" class="btn btn-dark" data-list-selector="#images">Ajouter une image</button>

                    
                </div>
                    <div>
                        <button type="submit" class="btn btn-dark btn-lg">Publier</button>
                    </div>
                    
            </div>
              {{form_end(form)}}  
        </div>
 
    </section>
{% endblock %}






