{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="addArticle">
        {{include('partials/_navbarMenu.html.twig')}}
      
        <div class="container-fluid wrapper">   
            {{include('partials/_sidebarMenuProfile.html.twig')}}
            <div class="row">
            <h2>Publier un article</h2>
                <div class="col-md-6 col-sm-12">
                    <h5><i class="fa-solid fa-pen"></i> Contenu de l'article</h5>
                    {{form_start(form)}}
                        {{form_row(form.title)}}
                        {{form_row(form.category)}}   
                        {{form_row(form.content)}}
                       
                </div>
               
                <div class="col-md-6 col-sm-12">
                    <h5><i class="fa-solid fa-film"></i> Ajouter une vidéo</h5>
                        {{form_row(form.video.title)}}
                        {{form_row(form.video.source)}}
                                           
                    <h5 class="mt-3"><i class="fa-solid fa-images"></i> Ajouter des images</h5>
                    

                    <div class="images"
                        data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">

                       {% for images in form.images %}
                            {{form_widget(images)}}
                            {{form_errors(images)}}
                       {% endfor %}
                         
                        {{form_rest(form)}}
                        
                    </div> 
                    <button type="button" id="add_images" class="btn btn-dark" data-collection-holder-class="images">Ajouter une image</button>

                    
                </div>
                    <div>
                        <button type="submit" class="btn btn-dark btn-lg">Publier</button>
                    </div>
                    {{form_end(form)}}
            </div>
                
        </div>
 
    </section>
{% endblock %}


{% block javascripts %}
    <script>
            const collectionHolder = document.querySelector("div.images");
            
            const addFormToCollection = (e) => {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                const item = document.createElement('div');
                
                const separator = document.createElement('hr');
                separator.classList.add('my-4');


                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                    );

                collectionHolder.appendChild(item);
                collectionHolder.appendChild(separator);

                collectionHolder.dataset.index++;
            }
            document.querySelectorAll('#add_images').forEach(btn=>{btn.addEventListener("click", addFormToCollection)});
    

    </script>
{% endblock %}




