{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="addArticle" class=" position-relative">
        {# spinner pour l'attente du téléversement video #} 
        <div class="overlayLoading" id="overlayLoading"><span class="loader"><p>Chargement en cours...</p></span></div>

        {{include('partials/_navbarMenu.html.twig')}}

        <div class="container-fluid wrapper"> 
        
            {{include('partials/_sidebarMenuProfile.html.twig')}}
            <div class="row">
            <h2>Publier un article</h2>
           
           
                <div class="col-md-6 col-sm-12">
                    <h5><i class="fa-solid fa-pen"></i> Contenu de l'article</h5>
                    {{form_start(form)}}
                        {{form_row(form.title)}}
                        {{form_row(form.category)}}   
                        {{form_row(form.content)}}
                        {# si l'user est admin, le formulaire affiché sera spécifique et il aura accès à la selection de l'article à la une #}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{form_row(form.adminNews)}}
                        {% endif %}
                       
                </div>
               
                <div class="col-md-6 col-sm-12">
                    <h5><i class="fa-solid fa-film"></i> Téléversez une vidéo...</h5>
                        {{form_row(form.video.title)}}
                        {{form_row(form.video.source)}}
                    <hr>

                    <h5><i class="fa-brands fa-youtube"></i></i> ...Ou insérez un lien Youtube</h5>
                        {{form_row(form.video.link)}}
                                           
                    <h5 class="mt-3"><i class="fa-solid fa-images"></i> Ajouter des images</h5>

                        {{ form_row(form.images) }}
                     
                </div>
                    <div>
                        <a href="{{path('account_articles')}}" class="btn btn-dark btn-lg"><i class="fa-solid fa-chevron-left"></i> Retour</a>
                        <button type="submit" id="submitArticle" class="btn btn-dark btn-lg">Publier</button>
                    </div>
                    
            </div>
              {{form_end(form)}}  
        </div>
 
    </section>

    <script>
    // loader le temps que l'upload se fasse , avant la redirection
    const button = document.getElementById("submitArticle");
    const loader = document.getElementById("overlayLoading");
        
    loader.classList.add('d-none');

    button.addEventListener('click', function(e){
        loader.classList.remove('d-none');
        loader.classList.add('d-block');
    });
    
        
   
    </script>
{% endblock %}








