{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}

    {% set user = article.author %}
    <section id="showArticle">
        {{include('partials/_navbarMenu.html.twig')}}
    
        <div class="container-fluid wrapper">
            <div class="row col-xs-12 col-md-10" id="wrapArticleContent">
                
                    {# <div class="banner">    
                            <img src="{{asset('uploads/banner/' ~ user.banner)}}" alt="Bannière de {{user.nickname}}">
                    </div>
                     #}
                    <h2>{{article.title}}</h2>  
                <div class="col-md-8">
                    {% if article.video %}
                        {# video affichée #}
                        {% set height = '720' %}
                        {% set width = '1280' %}
                        {% include "/partials/_video.html.twig" %}
                    {% elseif article.images is not empty %}
                        {% for image in article.images %}
                            {% if loop.first %}
                            <div class="main-image-wrap">
                                <img class="figure-img rounded img-fluid" src="{{asset('/uploads/article/image/'~ image.source)}}" alt="Image d'illustration de l'article {{article.title}}" >
                            </div>
                            {% endif %}
                        {% endfor %}
                        
                    {% else %}
                        <img class="figure-img rounded img-fluid" src="{{asset('/img/blogDefault.png')}}" alt="Image d'illustration par défaut" >
                    {% endif %}
                   
                    <div class="d-flex justify-content-between align-items-center px-1">
                        <div class="user">
                            <div class="avatar">
                                    <img src="{{asset('/uploads/avatar/'~ user.avatar)}}" alt="avatar de {{user.nickname}}" class="img-fluid"/>
                            </div>
                                <h2><a href="{{path('account_profile', {'nickname': user.nickname })}}">{{user.nickname}}</a> </h2>
                        </div>
                        <div>
                            <span class="mx-2">
                            {{article.views}}{{article.views <= 1 ? ' vue':' vues'}} • {{article.createdAt|date('d-m-Y')}}
                            </span>

                            <button type="button" class="btn" id="like-article" data-id='{{article.id}}'>
                            {% set isLiked = false %}
                                {# Si il y a des likes, on verifie dans ces likes si il y en a un qui a une correspondance avec l'user connecté #}
                                    {% if article.likes %}
                                        {% for like in article.likes %}
                                            {% if like.user == app.user %}
                                                {# si il y a une correspondance entre l'user connecté et le like dans la bdd, on met isLiked en true pour que le pouce soit activé #}
                                                {% set isLiked = true %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if isLiked %} {# l'user aime déjà la vidéo #}
                                          <i class="fa-solid fa-thumbs-up fa-2x"></i>
                                    {% else %} {# l'user n'aime pas encore la vidéo #}
                                          <i class="fa-regular fa-thumbs-up fa-2x"></i>
                                    {% endif %}
                                    <span id="like_count">
                                        {{article.likes|length }}
                                    </span>
                            </button>
                        </div>
                    </div>
                    <div class="my-3 article-content-show">
                    <p class="pe-4">{{article.content|raw}}</p>
                        <div class="row">
                        {% for image in article.images %}
                            {% if not loop.first %}
                                <div class="col-md-3">
                                    <img class="figure-img rounded img-fluid" src="{{asset('/uploads/article/image/'~ image.source)}}" alt="Image d'illustration de l'article {{article.title}}" >
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        
                        
                    </div>
                    
                    {# Espace commentaire #}
                    <div class="addCommentForm">
                        {{form_start(form)}}
                            {{form_widget(form)}}
                            <button type="submit" class="btn">Valider</button>
                        {{form_end(form)}}
                    </div>
                    <div>
                    {# pour chaque commentaire, affichage du contenu + auteur + possibilité de supprimer ses propres commentaires #}
                        {% for comment in article.comments %}
                        <div class="commentWrap">
                            <div class="commentAuthor">
                                <div>
                                    <img src="{{asset('uploads/avatar/'~ comment.author.avatar)}}" alt="avatar de {{comment.author.nickname}}">
                                    <a href="{{path('account_profile', {'nickname': comment.author.nickname })}}">{{comment.author.nickname}}</a>
                                    <span class="text-muted">
                                        • {{comment.createdAt|date('d-m-Y H:i')}}
                                    </span>
                                </div>
                                
                                {# Si le commentaire appartient à l'auteur, il peut le supprimer #}
                                {% if comment.author == app.user %}
                                    <a href="{{path('comment_delete', {'id': comment.id})}}" class="btn btn-danger btn-sm">X Supprimer</a>
                                {% endif %}
                            </div>
                                {{comment.content|raw}}
                        </div>
                        {% endfor %}
                    </div>

                    
                </div>
                <div class="col-md-4">
                {# articles du même auteur #}
                    <div class="row g-4" id="wrapSameAuthorArticle">
                    {% if articles|length > 0 %}
                        {% for article in articles %}
                             <div class="col-md-6">
                                <div class="card">
                                <div class="thumb-wrap">
                                    {% if article.video %}
                                        <img src="{{asset('uploads/article/video/thumb/'~ article.video.thumbnail)}}" class="card-img-top" alt="Vignette de l'article {{article.title}} de {{article.author}}">
                                    {% elseif article.images is not empty %}
                                            {% for image in article.images %}
                                                {% if loop.first %}
                                                    <img class="figure-img rounded " src="{{asset('/uploads/article/image/'~ image.source)}}" alt="Image d'illustration de l'article {{article.title}}" >
                                                {% endif %}
                                            {% endfor %}
                                    {% else %}
                                            <img class="figure-img rounded img-fluid" src="{{asset('/img/blogDefault.png')}}" alt="Image d'illustration par défaut" >
                                    {% endif %}
                                </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{article.title}}</h5>
                                            {% set articleContent = article.content|u.truncate(30, '...', false) %}
                                            <p class="card-text">{{articleContent|raw}}</p>
                                            <a href="{{path('article_show', {'slug':article.slug})}}" class="stretched-link"></a>
                                        </div>
                                    </div>
                                </div>  
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning text-center">{{article.author.nickname}} n'a pas encore posté de contenu supplémentaire.</div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{# PLYR #}
{% block stylesheets %}  
        <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
{% endblock %}

{% block javascripts %}
    <script>

        import Plyr from 'plyr';
        const player = new Plyr('#player');

        <script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>

    </script>

    
{% endblock %}