{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    <section class="homeWrap">
        {# Vue d'accueil + logo #}
        {{include('partials/_navbarMenu.html.twig')}}
        <section id="home">      
            <div id="homeLogo">
                <img src="{{asset('/img/logo.png')}}" alt="Logo SO FPV" class="img-fluid">
            </div>
            
            {# compteur lipo, bras, esc burned #}
            <section id="counter">
                <div class="counter-wrapper">
                    <div class="img-wrapper">
                        <img src="{{asset('../img/battery.png')}}" alt="icone de battery" class="img-fluid lipoIcon">
                    </div>
                    <h4 class="value" data="{{counterLipo}}">0</h4>
                    <h5>LIPO HS</h5>
                </div>
                <div class="counter-wrapper">
                    <div class="img-wrapper">
                        <img src="{{asset('../img/circuit-board.png')}}" alt="icone de drone cassé" class="img-fluid">
                    </div>
                    <h4 class="value" data="{{counterESC}}">0</h4>
                    <h5>BURNED ESC</h5>
                </div>
                <div class="counter-wrapper">
                <div class="img-wrapper">
                    <img src="{{asset('../img/broken.png')}}" alt="icone de drone cassé" class="img-fluid">
                </div>
                <h4 class="value" data="{{counterFrame}}">0</h4>
                <h5>BROKEN FRAMES</h5>
                </div>
            </section>
        </section>
    
        {# Actu de l'admin "A la Une" - article selectionné par l'admin #}
        <section id="adminNews">
            <div class="adminNews-wrapper">
                <article>
                {% if adminNews %}
                {% set article = adminNews %}
                {% set video = adminNews.video %}
                {% set images = adminNews.images %}
                
                     <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                {{include('/partials/_articleMediaShow.html.twig')}}
                            </div>
                        </div>
                        <div class="col-md-6 p-4"> 
                            <h3>{{adminNews.title}}</h3>
                            <p class="card-text">{{adminNews.content|raw}}</p>
                            <span class="text-muted">Publié le {{adminNews.createdAt|date('d-m-Y')}} par {{adminNews.author.nickname}}</span>
                        </div> 
                </div>
                {% else %}
                    <p>Pas d'actualités</p>
                {% endif %}
                </article>
        
            </div>
        </section>
        
        {# Derniers articles #} 
        <section id="blogHome">  
            <div class="container-fluid pt-4">
                <div class="row px-3 mx-3">
                    {% for article in articles %}
                    {# alternance de l'affichage des articles suivant leur index dans le tableau #}
                        {% if loop.index is divisible by(2) %}
                            <div class="wrapper-left">
                                {# personnalisation du nombre de caractères à tronquer pour eviter les problemes de css #}
                                {% set articleContent = article.content|u.truncate(300, '...', false) %}
                                {{include('partials/_articleRight.html.twig')}}
                            </div>
                        {% else %}
                            <div class="wrapper-right">
                                {% set articleContent = article.content|u.truncate(300, '...', false) %}
                                {{include('partials/_articleLeft.html.twig')}}
                            </div>           
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>


        {# Items de la boutiques (notification New) #}
        <section id="newOnShop">
            <div class="container-fluid">
                <div class="row mt-4">
                {% for product in products %}
                    <div class="col">
                            <div class="card">
                               {# si le produit est sorti il y a moins de 15 jours : badge new #}
                                {% if product.isNewProduct() %}
                                <span class="badge bg-danger badgeNewOnShop">New</span> 
                                {% endif %}

                                <img src="{{asset('../img/products/'~ product.image)}}" class="card-img-top img-fluid" alt="{{product.name}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    {% set descriptionTruncated = product.description|u.truncate(200,'...', false) %}
                                    <p class="card-text">{{descriptionTruncated|raw}}</p>
                                    <p class="card-text price"><b>{{product.priceTTC|number_format(2)}} &euro;</b></p>
                                    <a href="{{path('shop_show_product', {'slug' : product.slug})}}" class="btn btn-dark stretched-link">Voir le produit</a>
                                </div>
                            </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
            
        {# Carte avec prochaines sessions de vol #}
        <section id="sessions">
            <div class="container-fluid">
                <div class="row main">
                    <div class="col-md-9" id="mapid">
                    </div>
                    <div class="col"> 
                    <h5>Prochaines sessions</h5>
                    {% if sessions is empty %}
                        <div class="alert alert-warning">Il n'y a pas encore de sessions prévues.</div>
                    {% else %}
                        {% for session in sessions %}
                        <div class="spotWrapper row">
                                <div class="col-sm-2">
                                    <div class="iconWrap">
                                        <i class="fa-solid fa-location-dot fa-2x"></i>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col">
                                            <p>{{session.mapSpot.name}}</p>
                                            <p class="text-muted"><i class="fa-solid fa-calendar-day"></i> {{session.date|date('d-m-Y')}}</p>
                                            <p class="text-muted"><i class="fa-solid fa-clock"></i> {{session.timesheet|capitalize}}</p>
                                        </div>
                                        <div class="col">
                                            <p class="text-muted"><i class="fa-solid fa-circle-info"></i> {{session.mapSpot.authorization}}{{session.mapSpot.authorization == "Public" ? "": " * " }}</p>
                                            <p class="text-muted"><i class="fa-solid fa-users"></i> {% for user in session.users %}{{user.nickname}}{{ loop.last ? "" : " , "}}{% endfor %}</p>
                                            <p class="text-muted"><i class="fa-solid fa-map-pin"></i> {{session.mapSpot.address|raw}}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                       <div>
                            <p class="text-muted asterisque">
                                <small>*  Diverses autorisations sont nécessaires pour voler dans cette zone (S1, S2 ou S3). Se réferer à la réglementation sur <a href="https://www.geoportail.gouv.fr/donnees/restrictions-uas-categorie-ouverte-et-aeromodelisme">Géoportail</a> et le site de la <a href="https://www.ecologie.gouv.fr/direction-generale-laviation-civile-dgac"> DGAC</a>.</small>
                            </p>
                       </div>
                       
                    </div> 
                    
                </div>
            </div>
           
        </section>

        {# Section réseaux sociaux #}
        <section id="socialNetwork">
                <h3 class="text-center">Retrouvez nous sur les réseaux</h3>   
            <div class="socialLinks">
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-3x"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-3x"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-tiktok fa-3x"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-youtube fa-3x"></i></a> 
            </div> 
        <div id="scrollBackToTop">
            <a href="#"><i class="fa-solid fa-angles-up fa-2x"></i></a>
        </div>
        </section>
       
    </section>

    {# animation du counter #}
    <script>
        window.onload = function () {
        let counters = document.querySelectorAll('.value');
        const speed = 2000;

        counters.forEach( counter => {
            const animate = () => {
                const value =+ counter.getAttribute('data');
                const data =+ counter.innerText;

                const time = value / speed;
                if(data < value){
                    counter.innerText = Math.ceil(data + time);
                    setTimeout(animate, 1);
                } else {
                    counter.innerText = value;
                }
            }
             animate();
        });

        //map
        
        var mymap = L.map('mapid').setView([43.59818000000044, 1.4364900000002763], 10);
        L.tileLayer('https://tile.jawg.io/jawg-sunny/{z}/{x}/{y}{r}.png?access-token=Q9ah9vp2jsb80zff6WPhCh04KN53KZBOKSw417PFGIttmq5x0w5gYZMgItqFW2Kl', {}).addTo(mymap);
        mymap.attributionControl.addAttribution("<a href=\"https://www.jawg.io\" target=\"_blank\">&copy; Jawg</a> - <a href=\"https://www.openstreetmap.org\" target=\"_blank\">&copy; OpenStreetMap</a>&nbsp;contributors")

        };
   </script>
{% endblock %}



