{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    <section class="homeWrap">
        {# Vue d'accueil + logo #}
        {{include('partials/_navbarMenu.html.twig')}}
        <section id="home">      
            <div id="homeLogo">
                <img src="{{asset('/img/logo.png')}}" alt="Logo SO FPV" class="img-fluid">
            </div>
            
            {# compteur lipo, bras, esc burned #}
            <section id="counter">
                <div class="counter-wrapper">
                    <div class="img-wrapper">
                        <img src="{{asset('../img/battery.png')}}" alt="icone de battery" class="img-fluid lipoIcon">
                    </div>
                    <h4 class="value" data="{{counterLipo}}">0</h4>
                    <h5>LIPO HS</h5>
                </div>
                <div class="counter-wrapper">
                    <div class="img-wrapper">
                        <img src="{{asset('../img/circuit-board.png')}}" alt="icone de drone cassé" class="img-fluid">
                    </div>
                    <h4 class="value" data="{{counterESC}}">0</h4>
                    <h5>BURNED ESC</h5>
                </div>
                <div class="counter-wrapper">
                <div class="img-wrapper">
                    <img src="{{asset('../img/broken.png')}}" alt="icone de drone cassé" class="img-fluid">
                </div>
                <h4 class="value" data="{{counterFrame}}">0</h4>
                <h5>BROKEN FRAMES</h5>
                </div>
            </section>
        </section>
    
        {# Actu de l'admin "A la Une" - article selectionné par l'admin #}
        <section id="adminNews">
            <div class="adminNews-wrapper">
                <article>
                {% if adminNews %}
                     <div class="row">
                    {% if adminNews.video  %}
                        <div class="col-md-6 ">
                            {# video affichée #}
                            {% include "/partials/_video.html.twig" %} 
                        </div>
                    {% elseif adminNews.images is not empty %}
                        <div id="carouselImages" class="carousel slide col-md-5" data-bs-ride="true">
                            <div class="carousel-indicators">
                                {% for image in adminNews.images %}
                                <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %} aria-current="true" aria-label="Slide {{loop.index}}"></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner ratio ratio-16x9">
                                {% for image in adminNews.images %}
                                <div  {% if loop.index0 == 0 %} class="carousel-item active"  {% else %} class="carousel-item" {% endif %} >
                                    <img class="d-block w-100 h-auto" src="{{asset('/uploads/article/image/'~ image.source)}}" alt="Image d'illustration de l'article {{article.title}}" >
                                </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Précédent</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Suivant</span>
                            </button>
                        </div>
                    {% else %} 
                        <div class="col-md-5">
                                <img class="figure-img rounded img-fluid" src="{{asset('/img/blogDefault.png')}}" alt="Image d'illustration par défaut" > 
                        </div>

                    {% endif %}
                    <div class="col-md-6"> 
                        <h3>{{adminNews.title}}</h3>
                        <p class="card-text">{{adminNews.content|raw}}</p>
                        <span class="text-muted">Publié le {{adminNews.createdAt|date('d-m-Y')}} par {{adminNews.author.nickname}}</span>
                    </div> 
                </div>
                {% else %}
                    <p>Pas d'actualités</p>
                {% endif %}
                </article>
        
            </div>
        </section>
        
        {# Derniers articles #} 
        <section id="blogHome">  
            <div class="container-fluid pt-4">
                <div class="row px-3 mx-3">
                    {% for article in articles %}
                    {# alternance de l'affichage des articles suivant leur index dans le tableau #}
                        {% if loop.index is divisible by(2) %}
                            <div class="wrapper-left">
                                {# personnalisation du nombre de caractères à tronquer pour eviter les problemes de css #}
                                {% set articleContent = article.content|u.truncate(300, '...', false) %}
                                {{include('partials/_articleRight.html.twig')}}
                            </div>
                        {% else %}
                            <div class="wrapper-right">
                                {% set articleContent = article.content|u.truncate(300, '...', false) %}
                                {{include('partials/_articleLeft.html.twig')}}
                            </div>           
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>


        {# Items de la boutiques (notification New) #}
        <section id="newOnShop">
            <div class="title-banner mb-4">
                <h3>Boutique</h3> 
            </div>
            <div class="container-fluid">
            {#TODO: boucle avec les derniers produits ajoutés (badge new pour moins de 2 semaines)#}
                <div class="row">
                    <div class="col">
                            <div class="card">
                                {#TODO: a mettre si le produit est sorti au cours des 2 semaines #}
                                <span class="badge bg-danger titleBadge">New</span> 
                                <img src="{{asset('../img/product-1.jpg')}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Nom du produit</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p class="card-text price"><b>599 €</b></p>
                                    <a href="#" class="btn btn-dark stretched-link">Voir le produit</a>
                                </div>
                            </div>
                    </div>
                    <div class="col">
                            <div class="card">
                                <img src="{{asset('../img/product-2.jpg')}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Nom du produit</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p class="card-text price"><b>10 €</b></p>
                                    <a href="#" class="btn btn-dark stretched-link">Voir le produit</a>
                                </div>
                            </div>
                    </div>
                    <div class="col">
                            <div class="card">
                                <img src="{{asset('../img/product-3.jpg')}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Nom du produit</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p class="card-text price"><b>5 €</b></p>
                                    <a href="#" class="btn btn-dark stretched-link">Voir le produit</a>
                                </div>
                            </div>
                    </div>
                    <div class="col">
                            <div class="card">
                                <img src="{{asset('../img/product-1.jpg')}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Nom du produit</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p class="card-text price"><b>599 €</b></p>
                                    <a href="#" class="btn btn-dark stretched-link">Voir le produit</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
            
        {# Carte avec prochaines sessions de vol #}
        <section id="sessions">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.9244592865352!2d1.3824213161915828!3d43.67054085932608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc88398ed0d02a7e!2zNDPCsDQwJzEzLjkiTiAxwrAyMycwNC42IkU!5e0!3m2!1sfr!2sfr!4v1663612151377!5m2!1sfr!2sfr" style="border:0;" class="w-100 h-100 mt-0" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia impedit quae quos sunt culpa quibusdam dolorem optio, eos rerum sapiente dolor minima modi. Doloremque natus quaerat libero repudiandae itaque eligendi!</p>     
                    </div>
                </div>
            </div>
        </section>

        {# Section réseaux sociaux #}
        <section id="socialNetwork">
                <h3 class="text-center">Retrouvez nous sur les réseaux</h3>   
            <div class="socialLinks">
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-3x"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-3x"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-tiktok fa-3x"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-youtube fa-3x"></i></a> 
            </div> 
        <div id="scrollBackToTop">
            <a href="#"><i class="fa-solid fa-angles-up fa-2x"></i></a>
        </div>
        </section>
       
    </section>

    {# animation du counter #}
    <script>
        window.onload = function () {
        let counters = document.querySelectorAll('.value');
        const speed = 2000;

        counters.forEach( counter => {
            const animate = () => {
                const value =+ counter.getAttribute('data');
                const data =+ counter.innerText;

                const time = value / speed;
                if(data < value){
                    counter.innerText = Math.ceil(data + time);
                    setTimeout(animate, 1);
                } else {
                    counter.innerText = value;
                }
            }
             animate();
        });

        };
   </script>
{% endblock %}



