{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="cart">
        {{include('partials/_navbarMenu.html.twig')}}
        <div class="container-fluid pt-4">
            <div class="p-3 ms-2 wrapper">
                <h2>Votre panier</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th class="text-center">Quantité</th>
                            <th>Total</th>
                            <th></th>                     
                        </tr>
                    </thead>
                    <tbody>
                    {# {{dump(cardData, total)}} #}
                    {% for data in cardData %}
                        <tr>
                            <td class="img"><img src="{{asset('img/products/'~ data.product.image)}}" alt="" class="img-fluid"></td>
                            <td>{{ data.product.name|capitalize }}</td>
                            <td>{{ data.product.priceTTC|number_format(2) }} &euro;</td>
                            <td class="text-center"> 
                                <a href="{{path('cart_remove', {'id': data.product.id })}}" class="btn btn param"><i class="fa-solid fa-minus"></i></a>
                                   {{ data.quantity }} 
                                <a href="{{path('cart_add', {'id': data.product.id} )}}" class="btn btn param"><i class="fa-solid fa-plus"></i></a>
                            </td>
                            {% set totalTTCForeachTypeOfProduct =  data.quantity * data.product.priceTTC %}
                            <td>{{ totalTTCForeachTypeOfProduct|number_format(2)}} &euro;</td>
                            <td>
                                <a href="{{path('cart_delete', {'id': data.product.id })}}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a> 
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Votre panier est vide.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"><b>Total</b></td>
                            <td><strong>{{total|number_format(2)}} &euro;</strong></td>
                            <td colspan="3" class="delete-all">
                                {% if cardData is not empty %}
                                <a href="{{path('cart_delete_all')}}" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Vider le panier</a> 
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="d-flex justify-content-between align-items-center p-3">
                    <a href="{{path('shop')}}" class="btn param"><i class="fa-solid fa-angle-left"></i> Continuer mes achats <i class="fa-solid fa-basket-shopping"></i></a>
                    <a href="{{path('cart_validate')}}" class="btn param btn-lg validate">Valider mon panier</a>
                </div>
            </div>
           
        </div>
    
    </section>

{% endblock %}

