<article>
    <div class="row g-0 position-relative">
        <div class="col-md-7">
                <div class="card-body">
                    <div class="pe-2">
                        <div class="author">
                            <div class="author-avatar">
                                <img src="{{asset('/uploads/avatar/'~ article.author.avatar )}}" alt="Avatar de {{article.author}}">
                            </div>
                            <div class="author-nickname">
                                <h4>{{article.author.nickname}}</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <h5 class="card-title">{{article.title|capitalize}}</h5>
                            </div>
                            {# utilisation du nom de catégorie comme classe pour personnaliser le badge#}
                            <div class="category-badge badge {{article.category}}">
                                {{article.category|capitalize}}
                            </div>
                        </div>
                            <p class="card-text">{{articleContent|raw}}</p>
                            <a href="{{path('article_show', {'slug': article.slug})}}" class="stretched-link"></a>
                    </div>
                    <div class="article-footer text-muted justify-content-between">
                        <div>
                            {{article.views}} <i class="fa-regular fa-eye"></i> • {{article.likes|length}} <i class="fa-regular fa-thumbs-up"></i> • {{article.comments|length}} <i class="fa-regular fa-comment"></i> 
                        </div>
                        <div> {{article.createdAt|date('d-m-Y')}}</div>
                    </div>
                </div>
                                    
            </div>
        <div class="col-md-5">
            <div class="card-thumb">
                <div class="thumb-wrap">
                    {% if article.video %}
                    {% set video = article.video %}
                        {% if video.isUploaded %}
                            <img class="figure-img rounded img-fluid" src="{{asset('/uploads/article/video/thumb/'~ video.thumbnail )}}" alt="Vignette de la vidéo de {{article.author}}">
                        {% else %}
                            {% include('/partials/_video.html.twig') %} 
                        {% endif %}
                    {% elseif article.images is not empty %}
                        {% for image in article.images %}
                            {% if loop.first %}
                                <img class="figure-img rounded" src="{{asset('/uploads/article/image/'~ image.source)}}" alt="Image d'illustration de l'article'{{article.title}}'" >
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <img class="figure-img rounded img-fluid" src="{{asset('/img/blogDefault.png')}}" alt="Image d'illustration par défaut" >
                    {% endif %}
                </div> 
                
            </div>
        </div>
        
    </div>
</article>