{# Menu navbar principal #}

<section id="navbarMenu">
    <nav class="navbar navbar-expand-xl navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{path('home')}}">SO FPV</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{path('blog')}}">Actualités</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('session_map')}}">Sessions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('shop')}}">Boutique</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('about')}}">A propos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('contact')}}">Contact</a>
                            </li>
                            
                        </ul>
                        <ul class="navbar-nav connect">
                            <li class="nav-item me-2">
                                    {# on active la fonction du searchController pour valider le formulaire et trier les résultats (articles, users ou catégories) #}
                                    <form class="searchForm input-group" action="{{path('search')}}" method="GET"> 
                                        <div class="input-group-text p-0">
                                            <button class="btn btn-light" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control" type="search" placeholder="Rechercher" aria-label="Rechercher" name="q" required>
                                        </div> 
                                    </form>
                            </li>
                            <li class="cart">
                                <a class="nav-link mx-3 position-relative" href="{{path('cart')}}"><i class="fa-solid fa-cart-shopping"></i> 
                                {% if app.session.get('cart') %}
                                    {% set cart = app.session.get('cart') %}

                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                                    {# on additionne toutes les valeurs de la session 'cart' pour obtenir le nombre d'objets total dans le panier #}
                                    {{cart|reduce((carry,v)=> carry + v )}}
                                    <span class="visually-hidden">Produits dans le panier</span>
                                {% endif %}
                                </a>
                            </li>
                            {% if app.user %} 
                                
                                <li><a class="nav-link" href="{{path('account_myprofile')}}"><i class="fa-solid fa-circle-user"></i> Mon compte</a></li>
                                
                                <li><a class="nav-link" href="{{path('account_myprofile')}}"><i class="fa-solid fa-circle-user"></i> Mon compte</a></li>
                                <li><a class="nav-link " href="{{path('account_logout')}}"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a></li>
                            {% else %}
                            
                                <li><a class="nav-link " href="{{path('account_login')}}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Connexion</a></li>
                                <li><a class="nav-link" href="{{path('account_register')}}"> S'inscrire</a></li>
                            {% endif %}
                           
                        </ul>
                             
                </div>
            </div>
        </div>
</nav>
</section>
<div>
    {{include('/partials/_flashes.html.twig')}}
</div>

<script src="{{ asset('js/nav.js') }}"></script>


