    {# NB : Parti pris de mettre les views de manière globale sur l'article plutot que sur la vidéo #}

    {% if video.isUploaded %}
    <video id="player" playsinline controls data-poster="{{asset('uploads/article/video/thumb/' ~ video.thumbnail )}}" data-plyr-config='{ "title":"{{video.title}}"}'>
        <source src="{{asset('uploads/article/video/' ~ video.source )}}" type="video/mp4" />
    </video>
    {% else %}
    <div class="ytPlayer">
        <iframe height="315" width="560" src="{{video.source}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    {% endif %}

 

    {# Vérification si il y a un titre de vidéo (pour éviter des décalages css) #}
    {# {% if video.title %}
    <div class=" p-0 ">
        <div class="row">
            <div class="col-md-8 my-1">
                
                <h5 class="pt-3 ms-3">{{video.title}}</h5>
                
                {# <div class="text-muted">
                <small>{{video.views}}{% if video.views <= 1 %} vue {% else %} vues {% endif %} • {{video.createdAt|date('d/m/Y')}}</small>
                </div> 
            </div>
        </div>
    </div>
    {% endif %} #}

