{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="adminBlog">
            {{include('partials/_adminNavbarMenu.html.twig')}}
        <div class="container-fluid">
            <div class="sidebar">
                {{include('partials/_adminSidebarMenu.html.twig')}}
            </div>
            
            <div class="row wrap pt-4">
                <div>
                    <h3>Gestion des articles</h3> 
                    <form class="searchForm input-group" action="{{path('admin_blog')}}" method="GET"> 
                        <div class="input-group-text p-0">
                            <button class="btn btn-light" type="submit">
                               <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <input class="form-control" type="search" placeholder="Rechercher par titre" aria-label="Rechercher" name="q" required>
                            <a href="{{path('admin_blog')}}" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                         
                    </form>
                    
                </div>
                
            <div class="row row-cols-md-1 g-4 px-3">
                {% if pagination.data is empty %}
                <div class="w-100">
                    <span class="alert alert-warning d-block">Il n'y a pas encore d'articles.</span>
                </div>
                {% else %}
                    {# si on a une requete, on affiche que les résultats de la requete #}
                     {% if app.request.query.get('q', null)  %}

                        {% for article in requestedArticles %}
                            {{include('/partials/_adminArticle.html.twig')}}
                        {% endfor %}

                    {# sinon on affiche la pagination avec l'intégralité des articles #}
                    {% else %}

                        {% for article in pagination.data %} 
                            {{include('/partials/_adminArticle.html.twig')}}
                        {% endfor %}
                        
                    {% endif  %}
                {{pagination.display()}}
                {% endif %}
                </div>
            </div>
        </div>
    </section>


 
{% endblock %}


