{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    <section id="sessionAdd">
        {{include('partials/_navbarMenu.html.twig')}}
            <div class="wrapper row">
               <div class="formSession"> 
               <h3>{{mapSpot.name}}</h3>
               <p class="text-muted"><i class="fa-solid fa-circle-info"></i> {{mapSpot.authorization}}</p>
               <p class="text-muted"><i class="fa-solid fa-map-pin"></i> {{mapSpot.address}}</p>
               <h5>Ajout d'une session</h5>
                {{form_start(form)}}
                    {{form_row(form.date)}}
                    {{form_row(form.timesheet)}}
                <button type="submit" class="btn btn-success">Ajouter une session</button>
                {{form_end(form)}}  
                
                {% if mapSpot.authorization is not same as "Public" %}
                    <p class="text-muted mt-3"><i class="fa-solid fa-circle-info"></i> Ce spot est soumis à des restrictions et demande des autorisations spécifiques aux télépilotes pro (S1, S2 ou S3).</p>
               {% endif %}
               </div>
             
            </div>    
    
    </section>
    <style> 
        td, th {padding:0.5em;}
        .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {background-color: #252525 }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function() {
       
        $.fn.datepicker.dates['fr'] = {
            days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
            daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
            daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
            months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"],
            monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aout", "Sep", "Oct", "Nov", "Dec"],
            today: "Aujourd'hui",
            clear: "Clear",
            format: "dd-mm-yyyy",
            titleFormat: "MM yyyy", 
            weekStart: 0
        };

        $('.js-datepicker').datepicker({
            dateFormat:"dd-mm-yyyy",
            language:'fr',
            orientation: 'top right',
            todayBtn:'linked',
            todayHighlight: true
        });

        });

    </script>
{% endblock %}




