{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="myOrders">
        
        {{include('partials/_navbarMenu.html.twig')}}

        <div class="container-fluid">
          <div class="sidebar">
              {{include('partials/_sidebarMenuProfile.html.twig')}}
          </div>
          <div class="wrapper">
            <h3>Mes commandes</h3>
            <div class="row">
            {% if not orders %}
              <span class="alert alert-success">Vous n'avez pas encore de commande.</span>
            {% else %}
            {% for order in orders %}
                <div class="order col-md-3 m-3">
                  <div class="d-flex justify-content-between">
                    <div>
                      <div class="orderRef">
                              # {{order.reference}}
                          </div>
                          <p class="text-muted">{{order.createdAt|date('d-m-Y - H:i')}} </p>
                      </div>
                      <div class="price">
                        <span class="badge bg-grey">{{order.price}} &euro;</span>
                      </div>
                  </div>       
                      <div class="deliveryAddress">
                        <b>Adresse de livraison:</b></br> 
                        <div>{{order.deliveryAddress|raw}}</div>
                      </div>

                      <div class="transporter">
                          <b>Transporteur: </b>{{order.transporter.name}}  </br>
                      </div>
                      
                      <b>Produits:</b>
                      <ul>
                      {% for cart in order.carts %}
                      <li>
                          {{cart.product.name}} 
                          x{{cart.quantity}}
                      </li>
                      {% endfor %}
                      </ul>  
                      <hr>
                       <div class="orderStatus">
                        {% if order.delivery_status.status == 0 %}
                          <span class="prepare"><i class="fa-solid fa-circle"></i></span><strong>{{order.delivery_status.status}}</strong>
                        {% elseif order.delivery_status.status == 1 %}
                          <span class="transport"><i class="fa-solid fa-circle"></i> </span><strong>{{order.delivery_status.status}}</strong>
                        {% elseif order.delivery_status.status == 2 %}
                          <span class="delivery"><i class="fa-solid fa-circle"></i></span><strong>{{order.delivery_status.status}}</strong>
                        {% elseif order.delivery_status.status == 3 %}
                          <span class="delivered"><i class="fa-solid fa-circle"></i></span><strong>{{order.delivery_status.status}}</strong>
                        {% elseif order.delivery_status.status ==  4 %}
                          <span class="canceled"><i class="fa-solid fa-circle"></i></span><strong>{{order.delivery_status.status}}</strong>
                        {% endif %}
                      </div>
                  </div> 
                  {% endfor %}
            </div>
            {% endif %}
                  
                  
          </div>      
        </div>
       
        
    </section>


{% endblock %}

