{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
{# geocode plugin pour faciliter la recherche du nouveau point par l'admin #}
    <script src="https://unpkg.com/@maplibre/maplibre-gl-geocoder@1.2.0/dist/maplibre-gl-geocoder.min.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/@maplibre/maplibre-gl-geocoder@1.2.0/dist/maplibre-gl-geocoder.css"
        type="text/css"
        />
{# end geocode plugin #}

    <section id="adminMapSpots">
            {{include('partials/_adminNavbarMenu.html.twig')}}
        <div class="container-fluid">
                {{include('partials/_adminSidebarMenu.html.twig')}}
            <div class="row main">
                {# côté carte - map side #}
                <div class="col-md-6 col-xxl-8" id="map">
                </div>
                <button class="btnMap btn param" type="button">Carte <i class="fa-solid fa-chevron-down"></i></button>
                {# côté gestion - gestion side #}
                <div class="col-md-6 col-xxl-4 gestion">
                    <h3>Gestion de la carte et des spots</h3>
                    <button type="button" class="btn param addSpot" data-bs-toggle="collapse" href="#addSpotForm" aria-expended="false" aria-controls="addSpotForm">
                        <i class="fa-solid fa-map-location-dot"></i> Ajouter un spot
                    </button>
                    <button type="button" class="btn btn-danger reset"><i class="fa-solid fa-rotate-left"></i></button>
                    <div class="collapse my-2" id="addSpotForm">
                        <div class="card card-body">
                            <p class="text-muted">
                                <i class="fa-regular fa-lightbulb"></i>
                                 Cliquez sur la carte et déplacez le point pour ajouter automatiquement la longitude et la latitude.
                            </p>
                            {{form_start(form)}}
                                {{form_widget(form)}}
                                {{form_errors(form)}}
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            {{form_end(form)}}
                        </div>
                    </div>
                    {# loop for each spot #}
                    {% for spot in spots %}
                        <div class="spotWrapper row">
                                <div class="colInfo">
                                    <button type="button" class="spotMapChange"><p class="spotName"><i class="fa-solid fa-location-dot"></i>  {{spot.name}}</p></button>
                                    <p class="geolocalisation ps-1 text-muted">{{spot.latitude}},{{spot.longitude}}</p>
                                    <p class="text-muted"><i class="fa-solid fa-circle-info"></i> {{spot.authorization}} {{ spot.authorization == "Public" ? "" : "*" }}</p>
                                    <p class="text-muted spotAddress"><i class="fa-solid fa-map-pin"></i> {{spot.address|raw}}</p>
                                </div>
                                <div class="colDelete">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete-{{spot.id}}"><i class="fa-solid fa-trash"></i></button>
                                </div>
                               {# confirm spot delete #}
                               <div class="modal fade" id="confirmDelete-{{spot.id}}" tabindex="-1" aria-labelledby="confimDelete{{spot.id}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><i class="fa-solid fa-triangle-exclamation"></i> Confirmation de suppression </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Voulez-vous vraiment supprimer ce spot ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{{url('admin_spot_delete', {'id': spot.id })}}" method="post">
                                                <input type="hidden" name="token" value="{{csrf_token('delete')}}">
                                                <button type="submit" class="btn btn-danger">Supprimer</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                               {# end modal #}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {# map #}
    <script src="{{ asset('js/map.js')}}"></script>
    <script src="{{ asset('js/adminMapSpot.js')}}"></script>
     
    
{% endblock %}
