{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="editArticle">
            {{include('partials/_navbarMenu.html.twig')}}

        <div class="container-fluid wrapper">
            
            {{include('partials/_sidebarMenuProfile.html.twig')}}  
            
            <div class="wrapForm">
            <h4>Modification de l'article <i>"{{article.title|raw}}"</i> </h4> 
            <div class="row">
                <div class="column1">
                    <h5><i class="fa-solid fa-pen"></i> Contenu de l'article</h5>
                    {{form_start(form)}}
                        {{form_row(form.title)}}
                        {{form_row(form.category)}}   
                        {{form_row(form.content)}}
                         {% if is_granted("ROLE_ADMIN") %}
                            {{form_row(form.adminNews)}}
                        {% endif %}
                </div>
               
                <div class="column2">
                    <h5><i class="fa-solid fa-film"></i> Ajouter ou modifier une vidéo...</h5>
                        {{form_row(form.video.title)}}
                        {{form_row(form.video.source)}}
                        
                        <h5><i class="fa-brands fa-youtube"></i></i> ...Ou insérez un lien Youtube</h5>
                        {{form_row(form.video.link)}}
                                           
                    <h5 class="mt-3"><i class="fa-solid fa-images"></i> Ajouter des images</h5>
                        {{form_row(form.images)}}

                    {% if article.images is not empty %}
                    <h5 class="mt-3"><i class="fa-solid fa-images"></i> Vos images</h5>
                        <div class="d-flex flex-row flex-wrap">
                           {% for image in article.images %}
                            <div class="thumbnail-edit"> 
                                <img src="{{asset('/uploads/article/image/'~ image.source)}}" class="img-thumbnail img-fluid">
                                 <a href="{{path('account_article_edit_delete_img', {'id': image.id})}}" class="btn btn-sm btn-danger" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}"> X </a>
                            </div>
                            {% endfor %}
                       </div>
                    {% endif %}

                </div> 
                    <div>
                        <a href="{{path('account_articles')}}" class="btn btn-dark "><i class="fa-solid fa-chevron-left"></i> Retour</a>
                        <button type="submit" id="modifyButton" class="btn btn-warning m-3">Modifier</button>
                    </div>
                    
                   {{form_end(form)}}
                </div> 
            </div>
                
        </div>
 
    </section>

     <script>
   

   window.onload = () => {

      window.onload = () => {
          //désactivation du bouton lors de l'envoi du formulaire
            //select form to listen
            let formSubmit = document.querySelector('form[name="article"]');

            //wait for submit
            formSubmit.addEventListener("submit", function(e){
                //select button
                let submitButton = document.getElementById('modifyButton');
                //disable button
                submitButton.disabled = true;
                //change content to a spinner
                submitButton.innerHTML = '<i class="fa-solid fa-circle-notch fa-spin"></i> Chargement en cours ';
            }) 
    }    

    //select image links
    let links = document.querySelectorAll("[data-delete]");

    //delete an image
    // loop on links
        for(let link of links){ 
            //listener on clic for each link
            link.addEventListener("click", function(e){
                
                e.preventDefault();
                    
                // AJAX call on href
                fetch(this.getAttribute("href"), {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "Content-Type": "application/json"
                    },
                    //contains the token for validation 
                     body:JSON.stringify({"token": this.dataset.token})
                }).then(
                    // get response on json format
                    response => response.json()
                ).then(data => {
                        //if success
                    if(data.success){
                        //delete div which contain preview thumbnail
                        link.parentNode.remove();                     
                    } else
                        alert(data.error)
                })
            })
        }
}
    

   
    </script>
{% endblock %}








