{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="myArticles">
    
        {{include('partials/_navbarMenu.html.twig')}}

        <div class="container-fluid">
        <div class="sidebar">
            {{include('partials/_sidebarMenuProfile.html.twig')}}
        </div>
            <div class="row row-cols-md-1 g-4 px-3 pt-4">
                {% for article in articles %}
                    <article class="col">
                        <div class="article">  
                            <div class="article-thumb">
                                <div class="category-badge badge {{article.category}}">
                                    {{article.category|capitalize}}
                                </div> 
                            {% if article.video %}
                                <img class="img-fluid" src="{{asset('/uploads/article/video/thumb/'~ article.video.thumbnail )}}" alt="Vignette de la vidéo de {{article.author}}">
                            {% elseif article.images %}
                                {# TODO : repo ->selectionner la premiere image ajoutée dans l'article comme vignette#}
                                <img class="card-img-top img-fluid" src="{{asset('/img/blogDefault.png')}}" alt="Image d'illustration par défaut" >     
                            {% else %}
                                <img class="card-img-top img-fluid" src="{{asset('/img/blogDefault.png')}}" alt="Image d'illustration par défaut" >
                            {% endif %}
                            </div>
                            <div class="article-body">
                                <div>
                                    <h5>{{article.title}}</h5>
                                    {# Pour afficher une partie du contenu et utiliser les 2 filtres de twig pour tronquer + afficher avec les sauts de ligne #}
                                    {% set articleContent = article.content|u.truncate(300, '...', false) %}
                                    <p class="article-content">{{articleContent|raw}}</p>
                                </div>
                                <div class="article-footer">
                                    <div class="stats">
                                        <div class="views row">
                                            <div class="col">
                                                {{article.views}}
                                            </div>
                                           <div class="col icon">
                                                <i class="fa-solid fa-eye"></i>
                                           </div>
                                        </div>
                                        <div class="likes row">
                                            <div class="col">
                                                {{article.likes|length}}
                                            </div>
                                            <div class="col icon">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            </div>
                                        </div>
                                        <div class="comments row">
                                            <div class="col">
                                                {{article.comments|length}}
                                            </div>
                                            <div class="col icon">
                                                <i class="fa-regular fa-comment"></i>
                                            </div>
                                        </div>
                                        <div class="date">
                                            {{article.createdAt|date('d-m-Y H:i')}}
                                        </div>
                                        
                                    </div>
                                  

                                    <div class="settings">
                                        <a href="{{path('article_show', {'slug': article.slug })}}" class="btn btn-dark" target="_blank"><i class="fa-solid fa-eye"></i> Voir l'article</a>
                                        <a href="{{path('account_article_edit', {'id': article.id })}}" class="btn btn-warning" data-tooltip="Editer votre article" data-tooltip-location="top"><i class="fa-solid fa-file-pen"></i></a>
                                        <a href="{{path('account_article_delete', {'id':article.id })}}" class="btn btn-danger" data-tooltip="Supprimer votre article"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </article>
                {% endfor %}
            </div>
    
    </section>

<style>
{#TODO: a bouger dans le css#}
[data-tooltip] {
  --arrow-size: 5px;
  position: relative;
  z-index: 10;
}

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + var(--arrow-size));
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%,  calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size);
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s;
  transform-origin: top;   
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}
/* 
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

/* LEFT */

/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + var(--arrow-size));
  bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
  border-width: var(--arrow-size) 0px var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
  transform: translateY(50%) scaleX(1);
}


/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + var(--arrow-size));
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(var(--arrow-size), 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
  transform: translate(var(--arrow-size), 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) 0px;
  border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
  transform: translateY(50%) scaleX(1);
}


/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
  top: calc(100% + var(--arrow-size));
  bottom: auto;
}

[data-tooltip-location="bottom"]:before {
  transform: translate(-50%, var(--arrow-size)) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
  transform: translate(-50%, var(--arrow-size)) scale(1);
}

[data-tooltip-location="bottom"]:after {
  border-width: 0px var(--arrow-size) var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
}

</style>
{% endblock %}

