{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Résultats de votre recherche {% endblock %}

{% block body %}
 
    <section id="search">
        {{include('partials/_navbarMenu.html.twig')}}
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8">
                <h4 class="mb-3">Résultats de votre recherche <i>"{{request}}"</i></h4>
                {# Résultats d'articles (recherche dans les titres) #}
                {% if articles is not empty %}
                    <h5 class="my-4">Voici nos résultats d'articles :</h5>
                    <div class="row">
                        {% for article in articles %}

                            {% if loop.index is divisible by(2) %}
                                <div class="wrapper-left white">
                            {% else %}
                                <div class="wrapper-left grey">
                            {% endif %}         

                            {% set articleContent = article.content|u.truncate(300, '...', false) %}
                            {{include('/partials/_articleRight.html.twig')}}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {# Résultats d'users (recherche dans les pseudos ) #}
                {% if users is not empty %}
                    <h5 class="my-4">Voici nos résultats d'utilisateurs : </h5>
                    <div class="row user">
                        {% for user in users %}
                        <div class="col-sm-12">
                            <div class="author">
                                <div class="author-avatar">
                                    <img class="img-fluid " src="{{asset('/uploads/avatar/'~ user.avatar )}}" alt="Avatar de {{user.nickname}}">
                                </div>
                                <div class="author-nickname">
                                    <h4><a href="{{path('account_profile', {'nickname':user.nickname})}}">{{user.nickname}}</a></h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {# Résultats de catégories ( recherche dans les noms de catégories) #}
                 {% if category is not empty %}
                    <h5 class="my-4">Voici nos résultats de catégories : </h5>
                    <div class="row">
                    {% for category in category %}
                        {% for article in category.articles %}
                        
                        {% if loop.index is divisible by(2) %}
                            <div class="wrapper-left white">
                        {% else %}
                            <div class="wrapper-left grey">
                        {% endif %}      

                            {% set articleContent = article.content|u.truncate(300, '...', false) %}
                            {{include('/partials/_articleRight.html.twig')}}
                        </div>
                        {% endfor %}
                    {% endfor %}
                    </div>    
                {% endif %}
                {# si il n'y a aucun résultat entre les users, les articles ou les catégories #}
                {% if (articles is empty) and (users is empty) and (category is empty) %}
                <div class="my-5">
                    <span class="alert alert-warning">Aucun résultat ne correspond à la recherche : <i>"{{request}}"</i></span>
                </div>
                {% endif %}
            </div>
    
    </section>
{% endblock %}
