{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="blog">
        {{include('partials/_navbarMenu.html.twig')}}
        <div class="container-fluid pt-4">
            <div class="row row-cols-md-1 g-4 px-3">
                <div class="d-flex mb-4 filter">
                    <select name="cat" id="cat" class="p-2">
                        <option value="all">Toutes les catégories</option>
                        {% for category in categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% for article in pagination.data %}
                {% set articleContent = article.content|u.truncate(300, '...', false) %}
                {{include('partials/_articleRight.html.twig')}}
            {% endfor %}
                {{pagination.display()}}
            </div>
    
    </section>

{% endblock %}
