{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
 
    <section id="addVideo">
        {{include('partials/_navbarMenu.html.twig')}}

        <div class="container wrapper"> 
        
                <div class="d-flex">
                    <h4>Ajouter une vidéo</h4>  
                    {{form_start(form)}}
                    <hr>
                
                    {{form_widget(form)}}
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark btn-lg">Enregister</button>
                        <a href="{{path('account_myprofile')}}" class="btn btn-light"><i class="fa-solid fa-arrow-rotate-left"></i> Retour</a>
                        {{form_end(form)}}
                    </div> 

                </div>
                
            </div>

        </div>
 
    </section>
{% endblock %}