{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="adminDashboard">
        {{include('partials/_adminNavbarMenu.html.twig')}}
    
        <div class="container-fluid ">
        {# sidebar #}
        {{include('partials/_adminSidebarMenu.html.twig')}}

            <div class="wrap">   
                    <div class="dashboard">
                        <h3>Tableau de bord</h3>
                        <div class="row statWrap">
                            {# nombre d'users #} 
                            <div class="col">
                                <div class="card text-dark bg-light mb-3 p-2 ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="fa-solid fa-users fa-2x"></i>
                                            </div>
                                            <div class="col-8">
                                                <h4 class="my-2">{{stats.users}}</h4>
                                                <h5 class="card-title">Utilisateurs</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# nombre d'articles #}
                             <div class="col">
                                <div class="card text-dark bg-light mb-3 p-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="fa-solid fa-photo-film fa-2x"></i>
                                            </div>
                                            <div class="col-8">
                                                <h4 class="my-2">{{stats.articles}}</h4>
                                                <h5 class="card-title">Articles</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# nombre de sessions #}
                             <div class="col">
                                <div class="card text-dark bg-light  mb-3 p-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="fa-solid fa-calendar-day fa-2x"></i>
                                            </div>
                                            <div class="col-8">
                                                <h4 class="my-2">{{stats.sessions}}</h4>
                                                <h5 class="card-title">Sessions</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# nombre de commandes en cours #}
                             <div class="col">
                                <div class="card text-dark bg-light  mb-3 p-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="fa-solid fa-cart-flatbed fa-2x"></i>
                                            </div>
                                            <div class="col-8">
                                                <h4 class="my-2">{{stats.orders}}</h4>
                                                <h5 class="card-title">Commandes</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tablesWrap">
                            <div class="row mt-4">
                                {# top 5 des utilisateurs qui postent le + d'articles, commentaires et participent aux sessions #}
                                <div class="col">
                                    <h5> <i class="fa-solid fa-arrow-trend-up"></i> Utilisateurs les + actifs</h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Utilisateur</th>
                                                <th class="text-center">Articles</th>
                                                <th class="text-center">Sessions</th>
                                                <th class="text-center">Commentaires</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in mostActiveUsers %}
                                            <tr>
                                                <th><a href="{{path('account_profile', {'nickname': user.nickname})}}" target="_blank">{{user.nickname}}</a></th>
                                                <td class="text-center">{{user.articles}}</td> 
                                                <td class="text-center">{{user.sess}}</td>
                                                <td class="text-center">{{user.comments}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {# top 5 articles les + appréciés #}
                                <div class="col">
                                    <h5><i class="fa-solid fa-arrow-trend-up"></i> Articles les + appréciés</h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Article</th>
                                                <th>Auteur</th>
                                                <th class="text-center"><i class="fa-solid fa-thumbs-up"></i></th>
                                                <th class="text-center"><i class="fa-solid fa-eye"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for article in mostLikedArticles %}
                                            <tr>
                                                <th><a href="{{path('article_show', {'slug': article.slug })}}" target="_blank">{{article.title}}</a></th>
                                                <td><a href="{{path('account_profile', {'nickname': article.nickname})}}" target="_blank">{{article.nickname}}</a></td>
                                                <td class="text-center">{{article.likes}}</td>
                                                <td class="text-center">{{article.views}}</td>
                                            </tr> 
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>  
                        </div>
                    </div>
            </div>     
        </div>
        
    </section>
{% endblock %}

