{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="prepareOrder">
        {{include('partials/_navbarMenu.html.twig')}}
        <div class="container-fluid pt-4">
            <div class="p-3 ms-2 wrapper row">
                <h3>Création de la commande</h3>
                {# Selection de l'adresse de livraison #}
                <div class="col delivery">
                    {{form_start(form)}}
                    <legend><i class="fa-solid fa-location-dot"></i> Adresse de livraison</legend>

                    {% for deliveryAddress in form.deliveryAddress %}
                        {{form_widget(deliveryAddress)}}
                        {% if deliveryAddress.vars.value is same as "user_address" %}
                            {% if user.fullAddress is null %}
                                <span class="alert alert-warning">Vous n'avez pas encore renseigné d'adresse.</span>
                            {% else %}
                                <p class="mt-2">{{user.fullAddress|raw}}</p>
                            {% endif %}
                        {% endif %}
                       
                    {% endfor %}

                    <div class="my-3">{{form_widget(form.address)}}</div>
                    <div class="mb-3">{{form_widget(form.addressComplement)}}</div>
                    <div class="row">
                        <div class="col">{{form_widget(form.zip)}}</div>
                        <div class="col">{{form_widget(form.city)}}</div>
                    </div>
       
                </div>
                
                {# Tableau récapitulatif du panier validé : prix par produits, quantité, prix total par produit, prix du transporteur + prix global à régler #}
                <div class="col recap">
                    <legend><i class="fa-solid fa-basket-shopping"></i> Récapitulatif de la commande <span class="text-muted"><small>({{totalQuantity}} produit(s))</small></span></legend>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Prix</th>
                                    <th class="text-center">Quantité</th>
                                    <th>Total</th>              
                                </tr>
                            </thead>
                            <tbody>
                            {% for cart in carts %}
                                <tr>
                                    <td>{{cart.product.name|capitalize}}<br></td>
                                    <td>{{ cart.product.priceTTC|number_format(2) }} &euro;</td>
                                    <td class="text-center"> 
                                        {{ cart.quantity }} 
                                    </td>
                                    <td>{{ cart.amount|number_format(2)}} &euro;</td>
                                </tr> 
                            {% endfor %}
                            </tbody>           
                            <tfoot>
                                <tr>
                                    <th>Frais de port</th>
                                    <th class='transporterPrice'></th>
                                    <th></th>
                                    <th class='basePrice'>{{total|number_format(2)}} &euro; </th>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>Total</b></td>
                                    <td class="totalPrice"></td>
                                </tr>
                            </tfoot>
                        </table>
                </div>
                {# Selection du transporteur #}
                <div class="row">
                    <div class="col transporter">
                        <legend class="h4"><i class="fa-solid fa-truck-fast"></i> Choix du transporteur</legend>
                        {% for transporterChoice in form.transporter %}
                          <div class="p-3">
                          {% set index = loop.index0 %}
                          {% set price = transporters[index].price %} 

                          {{form_widget(transporterChoice, { 'attr' : { 'class': 'transporterChoice', 'data-price': price }})}}
                                <p class="ps-3 mb-0 description">{{transporters[index].description|raw}}</p>
                                <p class="ps-3"><strong>{{transporters[index].price}}&euro;</strong></p> 
                            </div>
                        {% endfor %}  
                        
                    </div>
                    <div class="col payment">
                        <button type="submit" class="btn btn-success btn-lg">Paiement</button>
                        <div class="stripeLogo">
                            <p class="text-muted">Powered by </p>
                           <span class="text-muted"><i class="fa-brands fa-stripe fa-3x"></i></span>
                        </div>
                        <p class="text-muted"><i class="fa-solid fa-lock"></i>  Vous allez être redirigé sur une page de paiement sécurisé.</p>
                    </div>
                </div>
                
                 {{form_end(form)}}
                
            </div>
           
        </div>

        <script>
        //les inputs du formulaire concernant les transporteurs  
        let transporters = document.querySelectorAll('.transporterChoice');

        //l'element de la table dans laquelle le prix du transporteur doit apparaître
        let transporterPrice = document.querySelector('.transporterPrice');

        //prix sur lequel on se base (total du prix des produits avec leur quantité)
        let basePrice = document.querySelector('.basePrice').innerHTML;
   
        //élément de la table contenant le prix total avec transporteur
        let totalPrice = document.querySelector('.totalPrice');

       
        
            //pour chaque transporteur, on écoute le changement sur l'input
            transporters.forEach(function(transporter){

                if(transporter.checked){
                    let price = transporter.dataset.price;
                    transporterPrice.innerHTML = `+ ${price} \u20AC`;
                    transporterCheckedPrice = price;
                     //Affichage du prix avec les valeurs selectionnées par défaut
                    let sumPriceOnload = parseFloat(transporterCheckedPrice)+ parseFloat(basePrice);
                    totalPrice.innerHTML = `${sumPriceOnload} \u20AC`;

                }

                transporter.addEventListener('change',()=>{

                //récupération de la valeur du data selon le transporteur selectionné
                let price = transporter.dataset.price;
                //on le met dans le tableau pour l'affichage
                transporterPrice.innerHTML = `${price} \u20AC`;

                //calcul du prix de base + le transporteur selectionné
                let priceWithTransporter = parseFloat(price) + parseFloat(basePrice);

                //affichage dans la table
                totalPrice.innerHTML = `${priceWithTransporter} \u20AC`;
               

                });
            });

        
        
        

        


        
        
                        
                
                   
              
              
                
        
           
            
          
            
            
        
        </script>
    
    </section>


{% endblock %}


