{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="prepareOrder">
        {{include('partials/_navbarMenu.html.twig')}}
        <div class="container-fluid pt-4">
            <div class="wrapper row">
                <h4>Création de la commande</h4>
                <div class="row">
                {# Selection de l'adresse de livraison #}
                <div class="col-sm-6 delivery">
                    {{form_start(form)}}
                    <legend><i class="fa-solid fa-location-dot"></i> Adresse de livraison</legend>
                     <div class="row">
                            <div class="col">{{form_row(form.firstname, { 'value': user.firstname })}}</div>
                            <div class="col">{{form_row(form.lastname, { 'value': user.lastname })}}</div>
                        </div>
                    {% for deliveryAddress in form.deliveryAddress %}
                        {{ form_widget(deliveryAddress)}}
                        {% if loop.index == 1 %}
                            {% if user.address is null %}
                                <div class="alert alert-warning">Vous n'avez pas encore renseigné d'adresse sur votre profil.</div>
                            {% else %}
                                <p class="mt-2">{{user.fullAddress|raw}}</p>
                            {% endif %}
                        {% endif %}  
                        
                    {% endfor %}
                    {{form_errors(form.deliveryAddress)}}   
                    
                    <div class="my-3">{{form_row(form.address)}}</div>
                    <div class="mb-3">{{form_row(form.addressComplement)}}</div>
                    <div class="row">
                        <div class="col">{{form_row(form.zip)}}</div>
                        <div class="col">{{form_row(form.city)}}</div>
                    </div>
       
                </div>
                <div class="col-sm-6 transporter">
                        <legend class="h4"><i class="fa-solid fa-truck-fast"></i> Choix du transporteur</legend>
                        {% for transporterChoice in form.transporter %}
                          <div class="p-3">
                          {% set index = loop.index0 %}
                          {% set price = transporters[index].price %} 

                          {{form_widget(transporterChoice, { 'attr' : { 'class': 'transporterChoice', 'data-price': price }})}}
                                <p class="ps-3 mb-0 description">{{transporters[index].description|raw}}</p>
                                <p class="ps-3"><strong>{{transporters[index].price}}&euro;</strong></p> 
                            </div>
                        {% endfor %}  
                        
                    </div>
                </div>
                {# Selection du transporteur #}
                <div class="row">
                    {# Tableau récapitulatif du panier validé : prix par produits, quantité, prix total par produit, prix du transporteur + prix global à régler #}
                <div class="col-sm-12 recap">
                    <legend><i class="fa-solid fa-basket-shopping"></i> Récapitulatif de la commande <span class="text-muted"><small>({{totalQuantity}} produit(s))</small></span></legend>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Prix<span class="text-muted">/Unité</span></th>
                                    <th class="text-center">Quantité</th>
                                    <th>Total</th>              
                                </tr>
                            </thead>
                            <tbody>
                            {% for cart in carts %}
                                <tr>
                                    <td data-label="Produit">{{cart.product.name|capitalize}}<br></td>
                                    <td data-label="Prix/U">{{ cart.product.priceTTC|number_format(2) }} &euro;</td>
                                    <td data-label="Quantité" class="text-center"> 
                                    {{ cart.quantity }} 
                                    </td>
                                    <td data-label="Total">{{ cart.amount|number_format(2)}} &euro;</td>
                                </tr> 
                            {% endfor %}
                            </tbody>           
                            <tfoot>
                                <tr>
                                    <th>Frais de port</th>
                                    <th class='transporterPrice'></th>
                                    <th class="text-center"></th>
                                    <th class='basePrice'>{{total|number_format(2)}} &euro; </th>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>Montant à régler</b></td>
                                    <td class="totalPrice"></td>
                                </tr>
                            </tfoot>
                        </table>
                </div>
                    <div class="col-sm-12 payment">
                        <button type="submit" class="btn btn-success btn-lg submit">Payer</button>
                        <div class="stripeLogo">
                            <p class="text-muted">Powered by </p>
                           <span class="text-muted"><i class="fa-brands fa-stripe fa-3x"></i></span>
                        </div>
                        <p class="text-muted"><i class="fa-solid fa-lock"></i>  Vous allez être redirigé sur une page de paiement sécurisé.</p>
                    </div>
                </div>
                
                 {{form_end(form)}}
                
            </div>
           
        </div>

        <script>
        //les inputs du formulaire concernant les transporteurs  
        let transporters = document.querySelectorAll('.transporterChoice');

        //l'element de la table dans laquelle le prix du transporteur doit apparaître
        let transporterPrice = document.querySelector('.transporterPrice');

        //prix sur lequel on se base (total du prix des produits avec leur quantité)
        let basePrice = document.querySelector('.basePrice').innerHTML;
   
        //élément de la table contenant le prix total avec transporteur
        let totalPrice = document.querySelector('.totalPrice');

        //bouton submit pour l'affichage dynamique du prix
        let paymentBtn = document.querySelector('.submit');

       
        // ALERTE TEMPORAIRE pour indiquer l'état fictif de la boutique
        paymentBtn.addEventListener('click', function(e){
            confirm("Attention ! Cette boutique est fictive et les produits présentés ne sont pas rééls/disponibles à la vente (voir CGU et CGV). La boutique est actuellement à titre démonstratif.") ;           
        })
        
            //pour chaque transporteur, on écoute le changement sur l'input
            transporters.forEach(function(transporter){

                if(transporter.checked){
                    let price = transporter.dataset.price;
                    transporterPrice.innerHTML = `${price} \u20AC`;
                    transporterCheckedPrice = price;
                     //Affichage du prix avec les valeurs selectionnées par défaut
                    let sumPriceOnload = parseFloat(transporterCheckedPrice)+ parseFloat(basePrice);
                    totalPrice.innerHTML = `<strong>${parseFloat(sumPriceOnload).toFixed(2)} \u20AC</strong>`;
                    paymentBtn.innerHTML = `Payer ${parseFloat(sumPriceOnload).toFixed(2)} \u20AC`

                }

                transporter.addEventListener('change',()=>{

                //récupération de la valeur du data selon le transporteur selectionné
                let price = transporter.dataset.price;
                //on le met dans le tableau pour l'affichage
                transporterPrice.innerHTML = `${price} \u20AC`;

                //calcul du prix de base + le transporteur selectionné
                let priceWithTransporter = (parseFloat(price) + parseFloat(basePrice)).toFixed(2);
                

                //affichage dans la table
                totalPrice.innerHTML = `<strong>${parseFloat(priceWithTransporter).toFixed(2)} \u20AC</strong>`;
               
               //maj du bouton de paiement
                paymentBtn.innerHTML = `Payer ${parseFloat(priceWithTransporter).toFixed(2)} \u20AC`

                });
            });
     
        </script>
    
    </section>


{% endblock %}


