{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="adminComments">
            {{include('partials/_adminNavbarMenu.html.twig')}}
        <div class="container-fluid">

            {{include('partials/_adminSidebarMenu.html.twig')}}
        
            <div class="wrap">      
            <h3>Gestion des commentaires signalés</h3>

            {% if alerts is empty %}
                <div class="alert alert-success my-4">Aucun commentaire n'a été signalé.</div>
            {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Auteur</th>
                        <th colspan="2">Article</th>
                        <th colspan="2">Commentaire</th>
                        <th class="text-center">Modération</th>
                    </tr>
                </thead>
                <tbody>
                {% for alert in alerts %}
                    <tr>
                        <td data-label="ID">{{alert.id}}</td>
                        <td data-label="Date">{{alert.createdAt|date('d-m-Y H:i')}}</td>
                        <td data-label="Auteur"><b><a href="{{path('admin_users')}}">{{alert.comment.author}}</a><b></td>
                        <td data-label="Article" colspan="2"><b><a href="{{path('article_show', {'slug':alert.comment.article.slug})}}" target='_blank'>{{alert.comment.article.title}}</a></b></td>
                        <td data-label="Commentaire" colspan="2">{{alert.comment.content|raw}}</td>
                        <td data-label="Modération" class="text-center"><button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#confirm-{{alert.comment.id}}"><i class="fa-solid fa-comment-slash"></i></button></td>
                    </tr>    
                    {# modal de confirmation #}
                    <div class="modal fade" id="confirm-{{alert.comment.id}}" tabindex="-1" aria-labelledby="confirm" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmTitle"><i class="fa-solid fa-comment-slash"></i> Modération</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="my-3">Êtes-vous sûr de vouloir modérer ce commentaire ?</p>
                            </div>
                            <div class="modal-footer">
                                {# Form pour envoyer le token avant validation #}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                <form action="{{url('admin_comment_moderate', {'id':alert.comment.id})}}" method="post">
                                    <input type="hidden" name="token" value="{{csrf_token('moderate')}}">
                                    <button type="submit"class="btn btn-danger">Modérer</button>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                    {# fin du modal #}
             
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
            </div>
        </div>

    </section>
    

{% endblock %}
