{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
 
    <section id="responseContact">
           {{include('partials/_adminNavbarMenu.html.twig')}}
        <div class="container-fluid wrapper">
            {{include('partials/_adminSidebarMenu.html.twig')}}
            <div class="wrap row">
                <div class="col-sm-12 col-xl-6">
                    <h3 class="mb-4">Répondre à {{contact.fullName}}</h3>
                    {{form_start(form)}}
                    {{form_row(form , {'label':false})}}
                 
                        <button type="submit" class="btn btn-success btn-lg"> Répondre</button>
                  
                    {{form_end(form)}}
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="text-muted">
                            <p><i class="fa-solid fa-at"></i> Mail : {{contact.email}}</p>
                            <p><i class="fa-solid fa-clock"></i> Date : {{contact.createdAt|date('d-m-Y H:i')}}</p>
                            <p><i class="fa-solid fa-bookmark"></i> Sujet: {{contact.subject}}</p>
                    </div>
                    <div class="initMsg">
                            {{contact.message|raw}}
                    </div>
                </div>
           </div>
                
        </div>
     
 
    </section>
{% endblock %}